.classpath
.gradle/
build/
bin/
application.properties
/gradle.properties
.project
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
